/* ↓↓↓ Шапка ↓↓↓ */

.header {
    width: 100%;
}

.header__container {
    display: flex;
    align-items: center;
    padding: 92px 50px;
}

.header__menu {
    margin-right: 40px;
}

.header__links-list {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header__links-list-item {
    list-style-type: circle;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__link {
    display: block;
    letter-spacing: 0.3px;
    border-bottom: solid 1px;
}

.header__link_active {
    border-bottom: 0;
}

.header__logo {
    width: 136px;
    margin-right: 190px;
}

.header__logo-image {
    width: 100%;
}

.contacts-container {
    line-height: 140%;
}

.contacts-item {
    border-bottom: solid 1px;
}

.button {
    cursor: pointer;
    padding: 0;
    background-color: rgba(0,0,0,0);
    border: rgba(0,0,0,0);
}

.bid-button {
    padding: 12px 32px;
    border: solid 1px #FFF;
    color: #FFF;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
}

.lots__look-more-link {
    padding: 0;
    margin: 0 0 0 40px;
    background-color: rgba(0,0,0,0);
    border: rgba(0,0,0,0);
    border-bottom: solid 1px;
    font-family: inherit;
    font-size: 20px;
}

.address {
    text-decoration: none;
    word-wrap: break-word;
    line-height: 24px;
}


/* ↓↓↓ Заглавный экран ↓↓↓ */

.cover {
    display: flex;
    flex-direction: column;
    background-image: 
    linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFF;    
}

.cover-container {
    display: flex;
    flex-direction: column;
    gap: 135px;
    padding: 166px 50px 50px;
}

.cover__title {
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 30px;
}

.title-extra-line-height {
    line-height: 115%;
}

.title-extra-spacing {
    letter-spacing: 60px;
}

.title-no-spacing {
    letter-spacing: 0;
}

.title-center {
    text-align: center;
}

.title-right {
    text-align: right;
    
}

.cover__tagline-container {
    display: flex;
    align-items: center;
    gap: 80px;
    padding-left: 28px;
}

.tagline {
    display: block;
    flex-grow: 1;
    text-align-last: justify;
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    text-transform: uppercase;
}


/* ↓↓↓ Лоты ↓↓↓ */

.lots {
    padding: 180px 24px 156px;
    
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-transform: uppercase;
    padding-left: 40px;
    margin-bottom: 25px;
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    color: #FFF;
}

.lots-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 0 0 30px 0;
}

.lots-cards-item-container {
    min-height: 563px;
    width: 334px;
    flex-grow: 1;
}

.card-link {
    display: block;
    height: 100%;
}

.lots-cards-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 51px 40px 48px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cards-item-film {
    background-image: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/card-lot-01.jpg);
}

.cards-item-book {
    background-image: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/card-lot-02.jpg);
}

.cards-item-paint {
    background-image: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/card-lot-03.jpg);
}

.lots-cards-item-text {
    font-size: 20px;
    line-height: 120%;
    color: #FFF;
}

/* ↓↓↓ Об аукционе ↓↓↓ */

.about {
    width: 100%;
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 26px 24px 0 24px;
}

.about-logo-wht-container {
    display: block;
    margin-left: 48px;
    padding: 46px;
    background: #000;
    clip-path: circle(50%);
    height: 240px;
    width: 240px;
}

.about-logo-wht {
    display: block;
    padding-top: 18px;
}

.about-txt-container {
    display: flex;
    flex-direction: column;
    padding: 100px 0 0 10px;
}

.about__heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-transform: uppercase;
}

.about-txt-item-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 100px;
}

.about-txt-item {
    font-size: 20px;
    line-height: 120%;
}


/* ↓↓↓ Футер ↓↓↓ */

.footer {
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 180px 50px 88px;
}

.footer__menu {
    display: flex;
    align-items: center;
}

.footer__links-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
}

.footer__links-list-item {
    list-style-type: none;
}

.footer__link {
    letter-spacing: 0.3px;
    border-bottom: solid 1px;
}

.footer__link_active {
    border-bottom: 0;
}

.social-container {
    display: flex;
    gap: 48px;
    min-width: 240px;
}

.social-item-container {
    display: block;
    width: 48px;
}

.social-button {
    display: block;
}

.social-button-image {
    display: block;
    width: 100%;
}