html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 400;
  }

body {
    margin: auto;
    padding: 0;
}

a {
    text-decoration: none;
}

address {
    all: initial;
    font-family: Raleway, sans-serif; /* Если не прописываю здесь дополнительно свойства шрифта, шрифт слетает */
    font-size: 18px;
    line-height: 140%;
    font-weight: 400;
}

button {
    padding: 0;
    background-color: rgba(0,0,0,0);
    border: rgba(0,0,0,0);
    text-wrap: nowrap;
    font-family: Raleway, sans-serif; /* Если не прописываю здесь дополнительно свойства шрифта, шрифт слетает */
    font-size: 22px;
    font-weight: 400;
}

li {
    list-style-type: none;
}


/* ↓↓↓ Шапка ↓↓↓ */

.header {
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 92px 50px;
}

.menu-container {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.menu {
    display: flex;
    align-items: center;
}

.header-menu {
    gap: 12px;
}

.menu-item-container {
    display: flex;
    align-items: center;
}

.menu-item {
    display: block;
    letter-spacing: 0.5px;
    border-bottom: solid 1px;
}

.menu-item-active {
    border-bottom: 0;
}

.header-menu .menu-item-container:nth-child(2):before {
    content: '';
    display: inline-block;
    margin: 4px 8px 0 0;
    width: 7px;
    height: 7px;
    border: solid 1px;
    border-radius: 50%;
}

.header-menu .menu-item-container:nth-child(3):before {
    content: '';
    display: inline-block;
    margin: 4px 9px 0 0;
    width: 7px;
    height: 7px;
    border: solid 1px;
    border-radius: 50%;
}

.header-logo-container {
    width: 136px;
    margin-right: 190px;
}

.header-logo {
    width: 100%;
}

.contacts-item {
    letter-spacing: 1%;
    border-bottom: solid 1px;
}

.button {
    cursor: pointer;
    padding: 0;
    background-color: rgba(0,0,0,0);
    border: rgba(0,0,0,0);
    text-wrap: nowrap;
}

.primary {
    padding: 12px 32px;
    border: solid 1px #FFF;
    color: #FFF;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    text-wrap: nowrap;
}

.secondary {
    border-bottom: solid 1px;
    font-family: inherit;
    font-size: 20px;
}

.address {
    text-decoration: none;
    word-wrap: break-word;
    line-height: 24px;
}


/* ↓↓↓ Заглавный экран ↓↓↓ */

.title-screen {
    display: flex;
    flex-direction: column;
    background-image: 
    linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFF;
    
}

.title-screen-container {
    display: flex;
    flex-direction: column;
    gap: 135px;
    padding: 166px 50px 50px;
}

.h1 {
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 30px;
}

.call-out-extra-line-height {
    line-height: 115%;
}

.call-out-extra-spacing {
    letter-spacing: 60px;
}

.call-out-no-spacing {
    letter-spacing: 0;
}

.call-out-center {
    text-align: center;
}

.call-out-right {
    text-align: right;
    
}

.title-screen-tagline-container {
    display: flex;
    align-items: center;
    gap: 80px;
    padding-left: 28px;
}

.title-screen-tagline {
    display: block;
    flex-grow: 1;
    text-align-last: justify;
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    text-transform: uppercase;
}


/* ↓↓↓ Лоты ↓↓↓ */

.lots {
    padding: 180px 24px 156px;
}

.lots-h2 {
    padding-left: 40px;
    margin-bottom: 25px;
}

.h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-transform: uppercase;
}

.h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    color: #FFF;
}

.lots-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 0 0 30px 0;
}

.lots-cards-item-container {
    min-height: 560px;
    width: 334px;
    flex-grow: 1;
}

.lots-cards-item-link {
    display: block;
    height: 100%;
}

.lots-cards-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 51px 40px 48px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cards-item-film {
    background-image: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/card-lot-01.jpg);
}

.cards-item-book {
    background-image: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/card-lot-02.jpg);
}

.cards-item-paint {
    background-image: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/card-lot-03.jpg);
}

.lots-cards-item-text {
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 1%;
    color: #FFF;
}

.lots-button {
    margin: 0 0 0 40px;
}


/* ↓↓↓ Об аукционе ↓↓↓ */

.about {
    width: 100%;
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 26px 24px 0 24px;
}

.about-logo-wht-container {
    display: block;
    margin-left: 48px;
    padding: 46px;
    background: #000;
    clip-path: circle(50%);
    height: 240px;
    width: 240px;
}

.about-logo-wht {
    display: block;
    padding-top: 18px;
}

.about-txt-container {
    display: flex;
    flex-direction: column;
    padding: 100px 0 0 10px;
}

.about-txt-item-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 100px;
}

.about-txt-item {
    font-size: 20px;
    line-height: 120%;
}


/* ↓↓↓ Футер ↓↓↓ */

.footer {
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 180px 50px 0;
}

.footer-menu {
    flex-direction: column;
    align-items: center;
    padding-left: 78px;

}

.social-container {
    display: flex;
    gap: 48px;
    min-width: 240px;
}

.social-item-container {
    display: block;
    width: 48px;
}

.social-button {
    display: block;
}

.social-button-image {
    display: block;
    width: 100%;
}